
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');



/* Estilos para o grid */
body {
  display: grid;
  margin: 0;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "header header"
    "aside aside"
    "footer footer";
  grid-template-rows: 100px 1fr 100px; /* Adicionado espaço para o footer */
  grid-template-columns: 400px 1fr;
}
#icone{
  margin-right: 10px;
}
/* Estilos para o header */
header {
  grid-area: header;
  padding: 0;
  background-image: linear-gradient(135deg, #d8f139 0, #beeb3f 12.5%, #a3e245 25%, #87d84b 37.5%, #6acc50 50%, #4bbf54 62.5%, #26b459 75%, #00aa5d 87.5%, #00a162 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

/* Estilos para o aside */
aside {
  grid-area: aside;
  background-image: url(/imgs/cesta.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto;
  display: flex;
  flex-direction: column; /* Para alinhar os botões verticalmente */
  justify-content: flex-end; /* Alinhar os botões na parte inferior */
  align-items: flex-start; /* Alinhar os botões à esquerda */
}

/* Estilos para o footer */
footer {
  grid-area: footer;
  background-image: linear-gradient(135deg, #d8f139 0, #beeb3f 12.5%, #a3e245 25%, #87d84b 37.5%, #6acc50 50%, #4bbf54 62.5%, #26b459 75%, #00aa5d 87.5%, #00a162 100%);
  color: black;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

/* Estilos para o botão "DOE ALIMENTOS" na parte inferior */
.botao-bottom:hover{
background-color: white;
color: #699923;

}
.botao-bottom {
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #699923;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: left;
  width: fit-content;
  margin-top: auto; /* Empurra o botão para a parte inferior */
  margin-left: 20px; /* Espaçamento entre o botão "DOE ALIMENTOS" e os botões superiores */
}
.botao-home:hover {
  background-color: #699923;
  transform: translateY(1s);
  transition: 1s;
  text-decoration: underline;
}
.botao-home {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 20px;
  border-radius: 50px;
  background-image: url();
  background-repeat: no-repeat;
  background-size: 20px; /* Ajuste o tamanho da imagem */
  background-position: left center; /* Alinhe a imagem à esquerda do texto */
  text-decoration: none;
  color: black; /* Cor do texto em preto */
  /* Adicione sublinhado ao texto */
  font-weight: bold; /* Texto em negrito */
  transition: background-color 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center; /* Alinhar a imagem verticalmente ao texto */
  width: fit-content;
  margin-right: 10px; /* Espaçamento entre os botões superiores */
}
.botap-voluntario:hover {
  background-color: #699923;
  transform: translateY(1s);
  transition: 1s;
  text-decoration: underline;
}
.botao-voluntario {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 20px;
  border-radius: 50px; 
  color: black; /* Cor do texto em preto */
  text-decoration: underline; /* Adicione sublinhado ao texto */
  font-weight: bold; /* Texto em negrito */
  transition: background-color 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center; /* Alinhar a imagem verticalmente ao texto */
  width: fit-content;
  margin-right: 10px; /* Espaçamento entre os botões superiores */
  text-decoration: none;
}
.botao-localizacao:hover {
  background-color: #699923;
  transform: translateY(1s);
  transition: 1s;
  text-decoration: underline;
}
.botao-localizacao {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 20px;
  border-radius: 50px;
  background-image: url(../View/Img/botao_home.png);
  background-repeat: no-repeat;
  background-size: 20px; /* Ajuste o tamanho da imagem */
  background-position: left center; /* Alinhe a imagem à esquerda do texto */
  color: black; /* Cor do texto em preto */
  text-decoration: underline; /* Adicione sublinhado ao texto */
  font-weight: bold; /* Texto em negrito */
  transition: background-color 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center; /* Alinhar a imagem verticalmente ao texto */
  width: fit-content;
  margin-right: 10px; /* Espaçamento entre os botões superiores */
  text-decoration: none;
}

.container {
  position: relative;
  text-align: center;
  padding: 20px;
}
